*body{
    background-color: white;
    border: 0;
    padding: 0;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7rem;
    background-color: lightgray;
    
}
.left{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
    align-items: left;
    list-style: none;
    color: black;
    font-size: 2rem;
    height: 10rem;
    width: 10%;
    font-weight: bolder;
    margin-top: 40px;
    padding: 100px;
}

.Iceland{
    font-size: 4rem;
    text-align: left;
    
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    height: 10rem;
    width: 80%;
    font-weight: bolder;
    margin-left: 400px;
}

.right{
    font-size: 3rem;
    height: 10rem;
    width: 20%;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
}

li{
    list-style: none;
}

.placetowork{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20rem;
    color: black;
    font-size: 3rem;
    padding-left: 5rem;
    
}

.goodplace{
    height: 10rem;
    justify-items: flex-start;
    margin-top: -50px;
    width: 75%;  
    line-height: 50px; 
}

.seeall{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.main{
    display: flex;
    flex-direction: row;
    height: 68rem;
    width: 100%;
    margin-top: -5rem;
}

.bigimage{
    height: 58rem;
    width: 80rem;
    margin-left: 3rem;
}

.rightimages{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-content: flex-end;
    height: 13rem;
    width: 25rem;
    margin-left: 10rem;
    padding-bottom: 20px;
}

.we{
    display: flex;
    flex-direction: center;
    align-content: center;
    height: 11rem;
    width: 50rem;
    background-color: blueviolet;
}

.p{
   display: flex;
   flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center; font-size: 2rem;
    height: 11rem;
    width: 50rem;
    background-color: blueviolet;
}

.rightpart{
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: space-around;
   align-items: left; 
   font-size: 2rem;
   height: 75rem;
   width: 50rem;
   
   margin-left: 15rem;
}

.writeup{
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: space-around;
   align-items: left; 
   font-size: 3rem;
   height: 11rem;
   width: 40rem;
}